.dingdan_wk {
    width: 1200px;
    margin: 0 auto 40px;
}
.content_title {
    width: 1200px;
    height:25px;
    border-left: 3px solid #2b96f1;
    margin: 15px auto;
    font-size: 14px;
    text-indent: 10px;
}
.dingdan_newqrtitle {
    border: none;
    background: #ededed;
    padding-left: 20px;
    margin-bottom: 0px;
}
.dingdan_qrtitle {
    height: 40px;
    border-bottom: 2px solid #e2e2e2;
    clear: left;
    line-height: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 14px;
}
.dingdan_newqrtitle span {
    border-bottom: none;
}
.dingdan_qrtitle span {
    height: 40px;
    display: block;
    width: 160px;
    font-size: 16px;
}
.dingdan_qrtable {
    margin: 10px 0;
}
.dingdan_qrtable table {
    width: 100%;
    border: 1px solid #efefef;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: transparent;
}
.dingdan_qrtable thead {
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    background: #fbfafa;
    text-align: left;
    color: #666666;
    font-size: 14px;
    height: 36px;
    display: table-header-group;
}
.dingdan_qrtable th {
    border-right: 1px solid #efefef;
    padding: 0px 10px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background: #fbfafa;
    border-bottom: 1px solid #efefef;
}
.dingdan_qrtable tbody tr td {
    border-bottom: 1px solid #efefef;
}
.dingdan_qrtable td {
    border-right: 1px solid #efefef;
    padding: 20px 10px;
    font-size: 12px;
    height: 24px;
    text-align: center;
}
.dingdan_qrtable>span {
    font-size: 12px;
    color: #2b96f1;
    padding-top: 10px;
    display: block;
    padding-left: 20px;
}
.dingdan_qrzonge {
    border-top: 1px solid #d4d4d4;
    background: #ededed;
    padding: 15px 20px;
    text-align: right;
    margin-bottom: 20px;
}
.dingdan_qrzonge b {
    color: #2b96f1;
}
.dingdan_xieyi_frame {
    width: 100%;
    float: right;
    margin-top:30px;
    margin-bottom: 10px;
}
.dingdan_xieyi {
    float: right;
}
.dingdan_zfxx{
    margin: 0px;
    padding: 20px;
    border: 1px solid #ededed;
    font-size: 16px;
}
.dingdan_zfxx b {
    font-size: 14px;
    font-weight: 100;
    margin-right: 5px;
}
.dingdan_zfxx em {
    font-size: 16px;
    color: #2b96f1;
    margin-right: 40px;
}
.dingdan_wyzf{
    margin: 0px;
    padding: 20px;
    width: 1180px;
    border: 1px solid #ededed
}
.dingdan_wyzf h5 {
    font-size: 14px;
}
